* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(255, 111, 0), white);
}

.navbar {
    border: 2px solid rgb(245, 240, 240);
    border-color: transparent;
    transition: all .3s ease-in-out;
    margin-right: 20px;
}

.navbar:hover {
    -webkit-box-shadow: -13px 9px 15px -2px #fa1515;
    box-shadow: -13px 9px 15px -2px #c01515;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: large;
}

.navbar a:hover {
    color: black;
}

.content img {
    height: 20vh;
    width: 20vh;
}

.content p {
    display: flex;
    justify-content: left;
}